.stats {
    float: left;
}

.battle {
    float: left;
    padding-left: 100px;
}

.inner-container {
    padding-top: 20px;
}

.messageLog {
    float:right;
    padding-left: 100px;
}

#messages {
    height: 250px;
    width: 300px;
    overflow: scroll;
    overflow-x:hidden;
}