<div class="body">
  <div class="head">
    <h3>hello, i'm kat.</h3>
    <p>I just put this together real quick so I could figure out how to get a site that uses Angular to display on Github pages, so there's not much here right now.<br> 
      Thanks for checking it out though!</p>
  </div>

  <div class="nav">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="About"><app-about></app-about></mat-tab>
      <mat-tab label="Portfolio"><app-portfolio></app-portfolio></mat-tab>
      <mat-tab label="RNG RPG"><app-game></app-game></mat-tab>
      <mat-tab label="Connect"><app-connect></app-connect></mat-tab>
    </mat-tab-group>
  </div>
</div>