.body {
    width:60%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: aliceblue;
}

.head {
    text-align: center;
}

.nav {
    padding: 10px;
}